<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Properties>
		<Property name="loggerLayout">%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</Property>
	</Properties>

	<Appenders>
		<RollingFile name="fileLogger"
			fileName="${sys:logFilename}.log"
			filePattern="${sys:logFilename}-%i.log">
			<CsvParameterLayout delimiter=";" />
			<Policies>
				<SizeBasedTriggeringPolicy size="50MB" />
			</Policies>
			<DefaultRolloverStrategy max="50" />
		</RollingFile>

		<RollingFile name="imapFileLogger" fileName="imap.log"
			filePattern="imap-%i.log">
			<Policies>
				<SizeBasedTriggeringPolicy size="50MB" />
			</Policies>
		</RollingFile>


		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>${loggerLayout}</pattern>
			</PatternLayout>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.bihealth" level="debug" additivity="false">
			<appender-ref ref="fileLogger" level="debug" />
			<appender-ref ref="console" />
		</Logger>
		<!-- 
		Uncomment do activate IMAP logging
		<Logger name="com.sun.mail" level="all" additivity="false">
			<appender-ref ref="imapFileLogger" level="all" />
		</Logger> -->
		<Root level="error" additivity="false">
			<appender-ref ref="fileLogger" level="debug" />
			<appender-ref ref="console" />
		</Root>
	</Loggers>
</Configuration>