<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Properties>
		<Property name="loggerLayout">%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</Property>
	</Properties>

	<Appenders>
		<File name="fileLogger" fileName="logging.log">
			<CsvParameterLayout delimiter=";"/>
		</File>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>${loggerLayout}</pattern>
			</PatternLayout>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.bihealth" level="debug" additivity="false">
			<appender-ref ref="fileLogger" level="debug" />
			<appender-ref ref="console" />
		</Logger>
		<Root level="error" additivity="false">
			<appender-ref ref="console" />
		</Root>
	</Loggers>
</Configuration>